header
{
    padding: 15% 15% 15% 15%;
    border-left: auto;
}

body {
    background-color: blue;
}

h1 {
    color: white;
    font-size: 60%;
}

p {
    color: white;
    font-size: 20%;
}

strong {
    color: aqua;
}

ul {
    list-style: none;
    text-decoration: none;
    margin-right: 15%;
}

ul li {
    display: inline;
}

a {
    text-decoration: none;
}

header,
main,
footer {
    margin: 50px 100px 50px 100px;
}

menu {
    text-align: center;
}

footer {
    background-color: black;
    height: 50px;
    padding-top: 15px;
    font-size: 20px;
    width: 80%;
    box-sizing: border-box;
    margin:  0 auto 0 auto;
    float: left;
}   

h2 {
    color: white;
    font-size: 30px;
}
.secao
{
    float: right
}
.secao-imgwalmonn
{
    width: auto;
    height: auto;
}
.secao-conteudo
{
    width: 80%;
}

