*{
    border:0%;
    padding:0%;
}
head{
    background-color: aqua;
    height: 20%;
    height: 100%;
}
menu ul li a{
    text-align: center;
    float: left;
    text-decoration: none;
    color:white;
}
body{
    background-color: #201658;
    color: white;
    float:left;
}